.background-title {
    Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;
    White +to+Transparent background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    FF3 .6-15 background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    Chrome10-25,Safari5.1-6 background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
    IE6-9;
}

@media (min-width: 1600px) {
    [dynamic-layout] {
        width: 1400px;
    }

    .dynamic-layout-col-4 {
        width: 325px;
    }

    .dynamic-layout-col-8 {
        width: 325px;
    }
}


@media (min-width: 1200px) and (max-width: 1600px) {
    [dynamic-layout] {
        width: 1200px;
    }

    .dynamic-layout-col-4 {
        width: 325px;
    }

    .dynamic-layout-col-8 {
        width: 325px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    [dynamic-layout] {
        width: 900px;
    }

    .dynamic-layout-col-4 {
        width: 335px;
    }

    .dynamic-layout-col-8 {
        width: 335px;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    [dynamic-layout] {
        width: 700px;
    }

    .dynamic-layout-col-4 {
        width: 325px;
    }

    .dynamic-layout-col-8 {
        width: 325px;
    }
}

@media (max-width: 768px) {
    [dynamic-layout] {
        width: 440px;
    }

    .dynamic-layout-col-4 {
        width: 325px;
    }

    .dynamic-layout-col-8 {
        width: 325px;
    }
}


[dynamic-layout] {
    float: left;
    position: relative;
}

.dynamic-layout-item {
    padding: 5px;
}

html,
body,
.fullscreen {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 100%;
}

.navbar-default {
    background-color: #000c01;
    border-color: rgba(0,0,0,0);
    color: white;
}

.navbar {
    margin-bottom: 0px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 5px 15px;
    padding-top: 10px;
}

.boxgradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    background-position: bottom left;
    background-position: left bottom;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
}

.logingradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4fcff+0,ffffff+59&1+0,0+59 */
    background-color: rgba(229,229,240,0.75);
}

.ui-view .ng-scope {
    height: 100%;
}

.navbar-default .navbar-toggle {
    border-color: #000000;
    margin: 0px;
}

.typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}

    .typeahead-demo .custom-popup-wrapper > .message {
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        color: #868686;
    }

    .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
        position: static;
        float: none;
        display: block;
        min-width: 160px;
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

.panel-footer {
    height: 55px;
}


.ng-show.ng-leave {
    transition: 0.12s linear all;
    transform: rotateX(-90deg);
}

.ng-hide {
    transition: 0.12s linear all;
    transform: rotateX(90deg);
}

.list-group-item:hover, li:hover {
    cursor: pointer;
}

body {
    overflow-x: hidden;
}

.fa-exclamation {
    color: fuchsia;
}

.panel {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.offset-navbar {
    padding-top: 50px;
}
