<span uib-dropdown
    on-toggle="toggled(open)">
            <a 
            href class="btn btn-default btn-m" 
            id="simple-dropdown" 
            uib-dropdown-toggle>
            {{title}}<span class="caret"></span>
</a>
<ul uib-dropdown-menu class="nav navbar-nav" 
    aria-labelledby="simple-dropdown">
    <li role="menuitem"
        ng-repeat="category in searchcategories">

        <input type="checkbox"
            ng-model="category.shown"
            default="enabled"> {{category.name}}
    </li>
</ul>
</span>
