<div class="dynamic-layout-item dynamic-layout-col-4 bootcards-cards">
    <div class="panel panel-default">
        <div class="list-group" style="background: {{it.bgColor}}">
            <div class="list-group-item" style="color: {{it.color}}">
                <p class="list-group-item-text text-right">{{externalScope().l10n.getLocalized('productID')}}</p>
                <h4 class="list-group-item-heading">{{it.data.ID}}</h4>
            </div>
            <div class="list-group-item" style="color: {{it.color}}">
                <p class="list-group-item-text text-right">{{externalScope().l10n.getLocalized('SKU')}}</p>
                <h4 class="list-group-item-heading">{{it.data.SKU}}</h4>
            </div>
            <div class="list-group-item" style="color: {{it.color}}">
                <p class="list-group-item-text text-right">{{externalScope().l10n.getLocalized('ExternalProductIdentifier')}}</p>
                <h4 class="list-group-item-heading">{{it.data.ExternalProductIdentifier}}</h4>
            </div>
            <div class="list-group-item" style="color: {{it.color}}">
                <p class="list-group-item-text text-right">{{externalScope().l10n.getLocalized('Created')}}</p>
                <h4 class="list-group-item-heading">{{it.data.Created | date:'dd/MMM/yyyy HH:mm'}}</h4>
            </div>
            <div class="list-group-item" style="color: {{it.color}}">
                <p class="list-group-item-text text-right">{{externalScope().l10n.getLocalized('CreatedBy')}}</p>
                <h4 class="list-group-item-heading">{{it.data.CreatedBy}}</h4>
            </div>
            <div class="list-group-item" style="color: {{it.color}}">
                <p class="list-group-item-text text-right">{{externalScope().l10n.getLocalized('LastModified')}}</p>
                <h4 class="list-group-item-heading">{{it.data.LastModified | date:'dd/MMM/yyyy HH:mm'}}</h4>
            </div>
            <div class="list-group-item" style="color: {{it.color}}">
                <p class="list-group-item-text text-right">{{externalScope().l10n.getLocalized('LastModifiedBy')}}</p>
                <h4 class="list-group-item-heading">{{it.data.LastModifiedBy}}</h4>
            </div>
            <div class="panel-footer" ng-show='showingMoreText'>
                <small class="pull-left">Created on {{it.added | date:'medium'}}</small>
            </div>
        </div>
    </div>
</div>
