<div class="dynamic-layout-item dynamic-layout-col-4 bootcards-cards">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6"><h2 class="panel-title">{{externalScope().l10n.getLocalized('ProductType')}}</h2></div>
                <div class="col-xs-6 "><input type="checkbox" ng-if="it.edit" ng-init="externalScope().clicked = false" ng-model="externalScope().clicked" ng-click="clicked = !clicked" />
                <button ng-if="externalScope().clicked" ng-click="it.save(it.data)" class="btn btn-warning btn-xs">save</button>
                </div>

            </div>
        </div>
        <div class="panel-body">
            <a href="#/product/{{it.data.product.ParentProduct.productID}}">{{externalScope().l10n.getLocalized('ParentProduct')}}</a>

            <p class="list-group-item-text text-right">{{externalScope().l10n.getLocalized('productID')}}</p>
            <h4 class="list-group-item-heading">{{it.data.ID}}</h4>

            <p class="list-group-item-text text-right">{{externalScope().l10n.getLocalized('SKU')}}</p>
            <h4 class="list-group-item-heading" ng-hide="externalScope().clicked" ng-show="!externalScope().clicked">{{it.data.SKU}}</h4>
            <input type="text" class="form-control" ng-show="externalScope().clicked" ng-hide="!externalScope().clicked" required ng-trim="false" ng-model="externalScope().product.SKU"/>

            <p class="list-group-item-text text-right">{{externalScope().l10n.getLocalized('ExternalProductIdentifier')}}</p>
            <h4 class="list-group-item-heading" ng-hide="externalScope().clicked" ng-show="!externalScope().clicked">{{it.data.ExternalProductIdentifier}}</h4>
            <input type="text" class="form-control" ng-show="externalScope().clicked" ng-hide="!externalScope().clicked" required ng-trim="false" ng-model="externalScope().product.ExternalProductIdentifier" />

            <p class="list-group-item-text text-right">{{externalScope().l10n.getLocalized('LastModifiedBy')}}</p>
            <h4 class="list-group-item-heading">{{it.data.LastModifiedBy}}</h4>
            
            <p class="list-group-item-text text-right">{{externalScope().l10n.getLocalized('LastModified')}}</p>
            <h4 class="list-group-item-heading">{{it.data.LastModified | date:'dd/MMM/yyyy HH:mm'}}</h4>

            <p class="list-group-item-text text-right">{{externalScope().l10n.getLocalized('CreatedBy')}}</p>
            <h4 class="list-group-item-heading">{{it.data.CreatedBy}}</h4>

            <p class="list-group-item-text text-right">{{externalScope().l10n.getLocalized('Created')}}</p>
            <h4 class="list-group-item-heading">{{it.data.Created | date:'dd/MMM/yyyy HH:mm'}}</h4>

            
        </div>
    </div>
</div>