<div class="list-group" ng-init="edit = false" ng-mouseover="edit = true">
    <div class="list-group-item">
        <p class="list-group-item-text">{{l10n.getLocalized('lastModifiedDate')}}</p>
        <h3 class="list-group-item-heading">{{product.LastModified | date : 'EEEE dd/MM/yy HHmm'}}</h3>
    </div>
    <div class="list-group-item">
        <p class="list-group-item-text">{{l10n.getLocalized('modifiedBy')}}</p>
        <h3 class="list-group-item-heading">{{product.LastModifiedBy}}</h3>
    </div>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">{{l10n.getLocalized('edit')}}</button>
    </div>
</div>
