<div>
    <div ng-if="type === 'brand'" >
        <ng-include src="'concentrator/partials/product/brandPartial.html'"></ng-include>
    </div>

    <div ng-if="type === 'SKU'" >
        <ng-include src="'concentrator/partials/product/SKUPartial.html'"></ng-include>
    </div>

    <div ng-if="type === 'attribute'" >
        <ng-include src="'concentrator/partials/product/AttributePartial.html'"></ng-include>
    </div>

    <div ng-if="type === 'externalID'" >
        <ng-include src="'concentrator/partials/product/IdentifierPartial.html'"></ng-include>
    </div>

    <div ng-if="type === 'LastModified'" >
        <ng-include src="'concentrator/partials/product/datePartial.html'"></ng-include>
    </div>

    <div ng-if="type === 'ProductID'" >
        <ng-include src="'concentrator/partials/product/datePartial.html'"></ng-include>
    </div>
</div>