<div class="dynamic-layout-item dynamic-layout-col-4 bootcards-cards">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6"><h4 class="panel-title" style="color:navajowhite">{{externalScope().l10n.getLocalized('Brand')}}</h4></div><div class="col-xs-6 "><button class="btn btn-default pull-right" ng-click="">{{externalScope().l10n.getLocalized('Edit')}}</button></div>
            </div>
        </div>
        <div class="panel-body">
            <p class="list-group-item-text text-right">{{externalScope().l10n.getLocalized('brandName')}}</p>
            <h4 class="list-group-item-heading">{{it.data.brand.Name}}</h4>
        </div>
    </div>
</div>