<div ng-controller="productDetailCtrl" class="fullscreen container-fluid" style="height:100%">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="z-index: 3">
            <ul class="nav affix nav-tabs submenu">
                <li role="presentation" class="active"><a href="">Base</a></li>
                <li role="presentation"><a href="">Parent</a></li>
                <li role="presentation"><a href="">Messages</a></li>
            </ul>
        </div>
    </div>
    <div class="fullscreen col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:40px; height:100%">
        <div class="row">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="15000" close="closeAlert(alert)">{{alert.msg}}</uib-alert>
        </div>
        <div dynamic-layout items="cards"></div>
    </div>
</div>
