<div ng-controller="productDetailCtrl" class="container-fluid" style="height:100%; padding-left: 0px; ">
    <div class="row" style="height:100%">
        <div class="col-xs-3 col-sm-2 col-md-1" style="height:100%">
            <script type="text/ng-template" id="alert.html">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="col-xs-2">
                            <div ng-transclude></div>
                        </div>
                        <div class="col-xs-1">
                            <a ng-click="closeAlert($index)"><i class="fa fa-times" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </script>
            <ul class="nav affix nav-pills nav-stacked submenu" style="height:100%; background:aliceblue;">
                <li role="presentation" ng-class="{'active' : states.overview}">
                    <a ui-sref="overview" ng-click="states.overview = !states.overview; refresh(state);">
                        <i class="fa fa-gift" aria-hidden="true"></i>
                        {{l10n.getLocalized('Overview')}}
                    </a>
                    <ul ng-show="states.overview" class="nav nav-tabs nav-stacked" style="background: white">
                        <li role="presentation" class="" style="background:white">
                            <small><a ng-click="selectParent()">{{l10n.getLocalized('SelectParent')}}</a></small>
                        </li>
                        <li role="presentation" class="" style="background:white">
                            <small><a ng-click="rootProduct()">{{l10n.getLocalized('MakeRoot')}}</a></small>
                        </li>
                    </ul>
                </li>
                <li role="presentation" ng-class="{'active' : states.children}">
                    <a ui-sref="children" ng-click="states.children= !states.children; refresh(state);">
                        <i class="fa fa-child" aria-hidden="true"></i>
                        {{l10n.getLocalized('Children')}}
                    </a>
                    <ul ng-show="states.children" class="nav nav-tabs nav-stacked" style="background: white">
                        <li role="presentation" class="" style="background:white">
                            <small><a ng-click="addChild()">{{l10n.getLocalized('AddChild')}}</a></small>
                        </li>
                        <li role="presentation" class="" style="background:white">
                            <small><a ng-click="addChild()">{{l10n.getLocalized('AddChild')}}</a></small>
                        </li>
                    </ul>
                </li>
                <li role="presentation" ng-class="{'active' : states.channel}">
                    <a ng-click="states.channel = !states.channel; refresh(state);">
                        <i class="fa fa-exchange" aria-hidden="true"></i>
                        {{l10n.getLocalized('Channels')}}
                    </a>
                </li>
                <li role="presentation" ng-class="{'active' : states.type}">
                    <a ng-click="states.type = !states.type; refresh(state);">
                        <i class="fa fa-bullseye" aria-hidden="true"></i>
                        {{l10n.getLocalized('ProductType')}}
                    </a>
                </li>
                <li role="presentation" ng-class="{'active' : states.attributes}">
                    <a ng-click="states.attributes = !states.attributes; refresh(state);">
                        <i class="fa fa-diamond" aria-hidden="true"></i>
                        {{l10n.getLocalized('Attributes')}}
                    </a>
                </li>
                <li role="presentation" ng-class="{'active' : states.vendor}">
                    <a ng-click="states.vendor = !states.vendor; refresh(state);"><i class="fa fa-credit-card" aria-hidden="true"></i>{{l10n.getLocalized('Vendors')}}</a>
                    <ul ng-show="states.vendor" class="nav nav-tabs nav-stacked" style="background: white">
                        <li role="presentation" class="" style="background:white">
                            <small><a ng-click="addVendor()">{{l10n.getLocalized('AddVendor')}}</a></small>
                        </li>
                    </ul>
                </li>
                <li role="presentation" ng-class="{'active' : states.brand}">
                    <a ng-click="states.brand = !states.brand; refresh(state);">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        {{l10n.getLocalized('Brand')}}
                    </a>
                </li>
                <li role="presentation">
                    <a href="#top">
                        <i class="fa fa-2x fa-arrow-circle-up" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            
        </div>
        <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-sm-offset-1 col-md-9">
            <div class="container-fluid">
                <h1 id="top"><small>{{l10n.getLocalized('Product')}}:</small> {{product.SKU}}</h1>
                <a sref="state"></a>
                <div dynamic-layout items="cards"></div>
            </div>
        </div>
    </div>
</div>
