<div class="divide-nav" ng-controller="productCtrl" style="padding-top: 71px">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <div class="input-group padding">
                    <!-- /btn-group -->
                    <input type="text" class="form-control" aria-label="..." 
                    placeholder="{{l10n.getLocalized('filter')}}">
                    <div class="input-group-btn" uib-dropdown>
                        <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">{{l10n.getLocalized('category')}} <span class="caret"></span>
                        
                        </button>
                        <ul uib-dropdown-menu class="dropdown-menu">
                            <li><a href="#">{{l10n.getLocalized('addfilter')}}</a></li>
                        </ul>
                        <button type="button" class="btn btn-default">
                        {{l10n.getLocalized('addfilter')}}
                        </button>
                    </div>
                </div>
                <!-- /input-group -->
            </div>
           </div>
            <div id="grid1" ui-grid="gridOptions" class="grid"></div>
    </div>
            
</div>
