<div class="container-fluid">
    <div class="row" style="height: 100%;">
        <div class="col-md-4">

            <div class="thumbnail tile tile-wide tile-medium">
                <a href="#/product/query">
                    <div class="row">
                        <i class="fa fa-4x fa-search" style="color: black" aria-hidden="true"></i>
                    </div>
                    <div class="row">
                        <h1>Search product</h1>
                    </div>
                </a>
            </div>
            <div class="thumbnail tile tile-wide tile-medium">
                <a href="#/product/query">
                    <div class="row">
                        <i class="fa fa-4x fa-search" style="color: black" aria-hidden="true"></i>
                    </div>
                    <div class="row">
                        <h1>Search product</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail tile tile-large">
                <a href="#/product/query">
                    <div class="row">
                        <i class="fa fa-4x fa-search" style="color: black" aria-hidden="true"></i>
                    </div>
                    <div class="row">
                        <h1>Search product</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail tile tile-wide tile-medium">
                <a href="#/product/query">
                    <div class="row">
                        <i class="fa fa-4x fa-search" style="color: black" aria-hidden="true"></i>
                    </div>
                    <div class="row">
                        <h1>Search product</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail tile tile-large">
                <a href="#/product/query">
                    <div class="row">
                        <i class="fa fa-4x fa-search" style="color: black" aria-hidden="true"></i>
                    </div>
                    <div class="row">
                        <h1>Search product</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail tile tile-wide tile-medium">
                <a href="#/product/query">
                    <div class="row">
                        <i class="fa fa-4x fa-search" style="color: black" aria-hidden="true"></i>
                    </div>
                    <div class="row">
                        <h1>Search product</h1>
                    </div>
                </a>
            </div>
        </div>
