<div class="navbar">
    <div class="navbar-inner">

        <uib-tabset
            active="active"
            class="navbar navbar-tabs navbar-fixed-top"
            style="margin-top: 50px;">
            <uib-tab index="1"
                class="nav nav-tab"
                heading="Static title">
            </uib-tab>
            <uib-tab index="2"
                ng-repeat="tab in tabs"
                heading="{{tab.title}}"
                active="tab.active"
                disable="tab.disabled">
                {{tab.content}}
            </uib-tab>
            <uib-tab index="3"
                select="alertMe()">
                <uib-tab-heading>
                    <i class="pull-right glyphicon"></i>                    Alert!
                </uib-tab-heading>
            </uib-tab>
            </uib-tabset>
    </div>
</div>
