<div id="single-button" uib-dropdown is-open="localedropdown.isopen">
    <a href uib-dropdown-toggle>
        <img class="flag flag-{{lln.currentLocale().name}}" style="border:none" />
    </a>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li class="menuitem" ng-repeat="supportedLanguage in lln.supportedLanguages()">
            <a ng-click="lln.init(supportedLanguage)">
                <tr>
                <td>
                    <h4>{{supportedLanguage.name}} 
                            </h4>
                </td>
                <td>
                    <img class="flag flag-{{supportedLanguage.name }}" style="border:none;" />
                </td>
                </tr>
            </a>
        </li>
    </ul>
</div>
