<div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
    <div class="list-group">
        <div class="list-group-item">
            <div class="row">
                <div class="col-md-6">
                    <p class="list-group-item-text">
                        {{AttributeName}}
                    </p>
                </div>
                <div class="col-md-6"><p class="text-right"><small>{{object.ID}}</small></p></div>
            </div>
            <h3 class="list-group-item-heading">
                {{object.AttributeType}}
            </h3>
        </div>
        <div class="list-group-item">
            <p class="list-group-item-text text-right">
                {{AttributeValue}}
            </p>
            <h3 class="list-group-item-heading">
                {{object.Value}}
            </h3>
        </div>
    </div>
</div>
