.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}


.background-title {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
    /* IE6-9 */
}


@media (min-width: 800px) and (max-width: 1000px) {
   .collapse {
       display: none !important;
   }
}

html,
body,
.fullscreen {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x:hidden;
}

div {
    overflow-x:hidden;
}

.navbar-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.message {
    color: #000000;
}

.background-image {
    background-image: url('/assets/img/CliffBEACH.jpg');
    background-size: cover;
}

.logo-bg {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.8+30,0.8+70,0+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 30%, rgba(255,255,255,0.8) 70%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 30%,rgba(255,255,255,0.8) 70%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 30%,rgba(255,255,255,0.8) 70%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}

.padding {
    padding-top: 20px;
    padding-bottom: 20px;
}


.bgtransparent {
    background: none;
}


.bgwhite {
    background-color: #ffffff;
}


.bgtranslucent {
    background: rgba(255, 255, 255, 0.6);
    border: none;
}


.niceinput {
    background: none;
    background: rgba(255, 255, 255, 0.8);
    /* -webkit-box-shadow: inset 0px 3px 2px 10px #dddddd;
    -moz-box-shadow: inset 0px 3px 2px 10px #dddddd;
    box-shadow: inset 0px 3px 2px 10px #dddddd; */
}


h4, .submitbutton {
    font-family: Verdana, Geneva, sans-serif;
}


.list-group-item {
    border: none;
}

.grid {
    width:100%;
}