<div class="dynamic-layout-item dynamic-layout-col-4 bootcards-cards">
    <div class="panel panel-default">
        <div class="list-group" style="background: {{it.bgColor}}">
            <div class="list-group-item" style="color: {{it.color}}; background: {{it.bgColor}}">
                <button class="btn btn-default" ng-click="externalScope().$log.info(this)">log!</button>
                <p class="list-group-item-text text-right">{{externalScope().l10n.getLocalized('ProductTypeID')}}</p>
                <h4 class="list-group-item-heading">{{it.data.$log.info(this)}}</h4>
            </div>
        </div>
    </div>
</div>
